* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color{
    color: white;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f4a261;
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.785); 
    z-index: -1;
}

.hero-content {
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 4rem;
    font-weight: bold;
}
.accordion {
    --bs-accordion-btn-bg: #5b8c20b9;
    --bs-accordion-active-bg: #5b8c20b9;
    --bs-accordion-active-color: #ffffff;
    --bs-accordion-bg: #5b8c20b9;
    --bs-accordion-color: #ffffff;

  }
